# DSCI 503 - Homework 03
### Pradeep Kiran Timsina

### Problem 1: Dot Product

In [1]:
def dot_product(x,y):
    summ=0
    lnth = len(x)
    for ite in range (0,lnth):
        summ=summ + (x[ite] * y[ite])
        
    return(summ)

In [2]:
v1 = [38, 9, 40, 34, 20, 16, 42, 36, 12, 1, 23, 46, 31, 19, 30, 33, 16, 43, 24, 41]
v2 = [43, 13, 35, 14, 26, 3, 36, 15, 42, 44, 45, 20, 17, 6, 47, 40, 38, 41, 31, 24]
print(" The dot product of v1 and v2 is ",dot_product(v1,v2),".",sep="")

 The dot product of v1 and v2 is 16220.

### Problem 2: Amortization

In [3]:
def count_payments(amount,rate,pmt):
    balance= amount
    pmt_no = 0
    while(balance>0):
        new_blnc = (balance * (1 + rate)) - pmt
        balance= round(new_blnc,2)
        pmt_no = pmt_no +1
        #print(balance)
    return(pmt_no)

In [4]:
for pmnt in range(850, 1100, 50):
    print(count_payments(160000,0.004,pmnt)," monthly payments of $",pmnt," would be required.",sep="")

351 monthly payments of $850 would be required.
312 monthly payments of $900 would be required.
281 monthly payments of $950 would be required.
256 monthly payments of $1000 would be required.
236 monthly payments of $1050 would be required.

In [5]:
for pmnt in range(850, 1100, 50):
    print(count_payments(160000,0.0035,pmnt)," monthly payments of $",pmnt," would be required.",sep="")

308 monthly payments of $850 would be required.
279 monthly payments of $900 would be required.
255 monthly payments of $950 would be required.
235 monthly payments of $1000 would be required.
219 monthly payments of $1050 would be required.

### Problem 3: Minimum

In [6]:
def minimum(x):
    min_value= x[0]
    for itrn in range(1,len(x)):
        if x[itrn]<min_value:
            min_value = x[itrn]        
    return(min_value)

In [7]:
list1 = [9.8, 7.4, 5.6, 4.8, 4.8, 5.3, 4.1, 9.6, 5.4]
list2 = [3.4, 7.6, 8.7, 7.5, 9.8, 7.5, 6.7, 8.7, 8.4]
list3 = ['St. Louis', 'Kansas City', 'Chicago', 'Little Rock', 'Omaha']
print("the minimum of list1 is",minimum(list1))
print("the minimum of list2 is",minimum(list2))
print("the minimum of list3 is",minimum(list3))

the minimum of list1 is 4.1
the minimum of list2 is 3.4
the minimum of list3 is Chicago

### Problem 4: Argmin

In [8]:
def argmin(x):
    min_value= x[0]
    min_index = 0
    for itrn in range(1,len(x)):
        if x[itrn]<min_value:
            min_value = x[itrn]
            min_index = itrn
    return(min_index)

In [9]:
list1 = [9.8, 7.4, 5.6, 4.8, 4.8, 5.3, 4.1, 9.6, 5.4]
list2 = [3.4, 7.6, 8.7, 7.5, 9.8, 7.5, 6.7, 8.7, 8.4]
list3 = ['St. Louis', 'Kansas City', 'Chicago', 'Little Rock', 'Omaha']
print("the minimum index of list1 is",argmin(list1))
print("the minimum index of list2 is",argmin(list2))
print("the minimum index of list3 is",argmin(list3))

the minimum index of list1 is 6
the minimum index of list2 is 0
the minimum index of list3 is 2

### Problem 5: Find Smallest Elements

In [10]:
def find_smallest(x, n=None):
    sorted_list =sorted(x)
    if n is None:
        return sorted_list[0]
    elif n >= len(sorted_list):
        return x
    elif n > 0:
        smallest_list = []
        for i in range(n):
            smallest_list.append(sorted_list[i])
        return smallest_list
    else:
        exit

In [11]:
my_list = [39, 74, 28, 64, 17, 28, 54, 53 ]
print(find_smallest(my_list))
print(find_smallest(my_list, 1))
print(find_smallest(my_list, 2))
print(find_smallest(my_list, 5))
print(find_smallest(my_list, 12))

17
[17]
[17, 28]
[17, 28, 28, 39, 53]
[39, 74, 28, 64, 17, 28, 54, 53]

In [12]:
print(my_list)

[39, 74, 28, 64, 17, 28, 54, 53]

### Problem 6: Find Unique Elements

In [13]:
def unique(mylist):
    mylist.sort()
    new_list = []
    for i in mylist:
        if i not in new_list:
            new_list.append(i)
    
    return (new_list)

In [14]:
int_list = [23, 16, 23, 12, 14, 23, 12, 19, 19]
str_list = ['cat', 'dog', 'dog', 'cat', 'bat', 'frog', 'dog', 'frog']
print(unique(int_list))
print(unique(str_list))

[12, 14, 16, 19, 23]
['bat', 'cat', 'dog', 'frog']

### Problem 7: Frequency Distribution

In [15]:
def freq_dist(x):
    unique_list = unique(x)
    count = 0
    count_list = []
    for itr_uniq in range (0,len(unique_list)):
        for itr_x in range(0,len(x)):
            if (unique_list[itr_uniq]==x[itr_x]):
                count = count + 1
        count_list.append(count)        
        count = 0
    print("unique values:  ",unique_list)
    print("freq:\t\t",count_list)

In [16]:
grades = ['A', 'D', 'A', 'C', 'B', 'F', 'A', 'D', 'C', 
 'B', 'F', 'A', 'C', 'B', 'A', 'B', 'B', 'C', 
 'B', 'F', 'D', 'D', 'A', 'C', 'B', 'B', 'D']
freq_dist(grades)

unique values:   ['A', 'B', 'C', 'D', 'F']
freq:		 [6, 8, 5, 5, 3]

### Problem 8: Weighed Means

In [17]:
def mean(x,w=None):
    summ=0
    summ_wt =0
    if w==None:
        return(sum(x)/len(x))
    else:
        for i in range(0,len(x)):
            summ = summ + x[i] * w[i]
            summ_wt = summ_wt + w[i]
            return(summ/summ_wt)

In [18]:
values = [4, 7, 3, 5, 2, 6, 8, 2, 4, 8]
weights = [2, 1, 3, 1, 2, 3, 1, 4, 2, 1]
print("Standard Mean:",mean(values))
print("Weighted Mean:",mean(values,weights))

Standard Mean: 4.9
Weighted Mean: 4.0